<label>bookId      <input [(ngModel)]="book.bookId" placeholder="bookId">          </label>
<label>bookName    <input [(ngModel)]="book.bookName" placeholder="bookName">      </label>
<label>authorName  <input [(ngModel)]="book.authorName" placeholder="authorName">  </label>
<label>price       <input [(ngModel)]="book.price" placeholder="price">            </label>
<label>availability<input [(ngModel)]="book.availability" placeholder="availability"></label>
<button (click)="addBook()">Save</button>